DJANGO_SECRET_KEY=change-me-production-secret
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=mob.s-nk.su

POSTGRES_DB=s_nk_mob
POSTGRES_USER=s_nk_mob
POSTGRES_PASSWORD=change-me-db-password
POSTGRES_HOST=db
POSTGRES_PORT=5432